---
css: |
  .author.cred {
    display: flex;
    gap: 1em;
    align-items: center;
    & img {
      width: 3rem;
      border-radius: 2rem;
    }
  }
---
{% set author = authors[id] %}
<div>
  <a href="{{ author.link or 'https://open-innovations.org/about/team/#' + id }}" class="author cred">
    <img src="{{ author.image or 'https://open-innovations.org/about/team/' + id + '.jpg' }}" title="{{ author.name }}"/>
    <div>
      <p>{{ author.name }}</p>
    </div>
  </a>
</div>