{%- set level = level or 2 -%}

{% comp 'block', { classes: 'c9-bg' } %}
  <h{{ level }}><span>{{ principle.key }}</span> // {{ principle.title | safe }}</h{{ level }}>
  <p>{{ principle.description | md | safe }}</p>
{% endcomp %}