<ul>
{% for page in search.pages('url^=' + url_base, 'url') | data %}
  {% if page.url !== url_base %}
  <li>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
{% endfor %}
</ul>