@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url(https://open-innovations.org/resources/fonts/Poppins/pxiDyp8kv8JHgFVrJJLmr19VFteOcEg.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url(https://open-innovations.org/resources/fonts/Poppins/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url(https://open-innovations.org/resources/fonts/Poppins/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://open-innovations.org/resources/fonts/Poppins/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://open-innovations.org/resources/fonts/Poppins/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://open-innovations.org/resources/fonts/Poppins/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --oi-main-fontstack: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  --oi-title-fontstack: Poppins;
}
html, body {
	padding: 0px;
	margin: 0px;
	min-height: 100%!important;
	height: 100%!important;
	background-color: #ffffff;
	font-family: var(--oi-main-fontstack);
  /* https://css-tricks.com/accessible-font-sizing-explained/#aa-avoid-setting-a-base-font-size */
	font-size: 100%;
	color: #333;
	line-height: 1.44em;
}
h1,h2,h3,h4, .title { font-family: var(--oi-title-fontstack); line-height: 1em; }
h1, .title { font-size: 1.7em; font-weight: 600; }
h2 { font-size: 1.4em; font-weight: 600; margin-bottom: 1em; }
h3 { font-size: 1.2em; margin-bottom: 1em; }
h1 + p, h2 + p, h3 + p { margin-top: 1em; }
strong { font-weight: 700; }
em { font-style: italic; }
a { color: #18AD87; text-decoration: underline; }
.bold { color: #18AD87; }
p, time, li, td, th, footer, div { font-weight: 300; }
p { margin-bottom: 1em; }
button, .button { border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 0.5em 1em; cursor: pointer; vertical-align: top; line-height: 1.25em; }
a:hover, a:focus { text-decoration: underline; }
a:visited { color: inherit; }
header a { text-decoration: none; }
footer { width: 100%; padding: 1em; padding-bottom: 3em; }
footer h2 + p { margin-top: 1em; }
footer a { color: #1DD3A7; }
header a { line-height: 0; }
.msg { text-align:center; padding: 0.5em; }

.holder { position: relative; width: 1080px; max-width: 100%; margin: auto; }
button, .button { margin-top: 0.25em; border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 0.5em 1em; cursor: pointer; }
a.button:hover, button:hover, button:focus, a.button:focus { background-color: #333333!important; color: #efefef!important; }


:root .c1-bg, :root a.c1-bg:visited, :root .facebook:hover { background-color: #2254F4; color: white!important; }
:root .c2-bg, :root a.c2-bg:visited { background-color: #178CFF; color: black!important; }
:root .c3-bg, :root a.c3-bg:visited, :root .twitter:hover { background-color: #00B6FF; color: black!important; }
:root .c4-bg, :root a.c4-bg:visited { background-color: #08DEF9; color: black!important; }
:root .c5-bg, :root a.c5-bg:visited { background-color: #1DD3A7; color: black!important; }
:root .c6-bg, :root a.c6-bg:visited { background-color: #0DBC37; color: black!important; }
:root .c7-bg, :root a.c7-bg:visited { background-color: #67E767; color: black!important; }
:root .c8-bg, :root a.c8-bg:visited { background-color: #722EA5; color: white!important; }
:root .c9-bg, :root a.c9-bg:visited, :root .instagram:hover, :root .internal #main > .seasonal { background-color: #E6007C; color: white!important; }
:root .c10-bg, :root a.c10-bg:visited, :root .flickr:hover { background-color: #EF3AAB; color: black!important; }
:root .c11-bg, :root a.c11-bg:visited { background-color: #D73058; color: white!important; }
:root .c12-bg, :root a.c12-bg:visited, :root .youtube:hover { background-color: #D60303; color: white!important; }
:root .c13-bg, :root a.c13-bg:visited, :root .seasonal-accent { background-color: #FF6700; color: black!important; }
:root .c14-bg, :root a.c14-bg:visited, :root .seasonal, :root .seasonal:hover { background-color: #F9BC26; color: black!important; }
:root .s1-bg, :root a.s1-bg:visited { background-color: #2f529f; color: white!important; }
:root .s2-bg, :root a.s2-bg:visited { background-color: #00ace8; color: black!important; }
:root .s3-bg, :root a.s3-bg:visited { background-color: #7dc5ea; color: black!important; }
:root .b1-bg, :root a.b1-bg:visited { background-color: #000000; color: white!important; }
:root .b2-bg, :root a.b2-bg:visited { background-color: #333333; color: white!important; }
:root .bk-bg, :root a.bk-bg:visited { background-color: #6D6D6D; color: white!important; }
:root .b3-bg, :root a.b3-bg:visited, :root .github:hover { background-color: #999999; color: black!important; }
:root .b4-bg, :root a.b4-bg:visited { background-color: #bbbbbb; color: black!important; }
:root .b5-bg, :root a.b5-bg:visited { background-color: #dfdfdf; color: black!important; }
:root .b6-bg, :root a.b6-bg:visited { background-color: #ffffff; color: black!important; }
:root a.c1-bg:hover, :root a.c2-bg:hover, :root a.c3-bg:hover, :root a.c4-bg:hover, :root a.c5-bg:hover, :root a.c6-bg:hover, :root a.c7-bg:hover, :root a.c8-bg:hover, :root a.c9-bg:hover, :root a.c10-bg:hover, :root a.c11-bg:hover, :root a.c12-bg:hover, :root a.c13-bg:hover, :root a.c14-bg:hover, :root a.seasonal:hover, :root a.b1-bg:hover, :root a.b2-bg:hover, :root a.b3-bg:hover, :root a.b4-bg:hover, :root a.b5-bg:hover, :root a.s1-bg:hover, :root a.s2-bg:hover, :root a.s3-bg:hover, :root a.c1-bg:focus, :root a.c2-bg:focus, :root a.c3-bg:focus, :root a.c4-bg:focus, :root a.c5-bg:focus, :root a.c6-bg:focus, :root a.c7-bg:focus, :root a.c8-bg:focus, :root a.c9-bg:focus, :root a.c10-bg:focus, :root a.c11-bg:focus, :root a.c12-bg:focus, :root a.c13-bg:focus, :root a.c14-bg:focus, :root a.seasonal:focus, :root a.b1-bg:focus, :root a.b2-bg:focus, :root a.b3-bg:focus, :root a.b4-bg:focus, :root a.b5-bg:focus, :root a.s1-bg:focus, :root a.s2-bg:focus, :root a.s3-bg:focus { background-color: #000000; color: white!important; }
:root .b6-bg .button { background-color: black; color: white!important; }
:root .c1-bg a, :root .c2-bg a, :root .c3-bg a, :root .c4-bg a, :root .c5-bg a, :root .c6-bg a, :root .c7-bg a, :root .c8-bg a, :root .c9-bg a, :root .c10-bg a, :root .c11-bg a, :root .c12-bg a, :root .c13-bg a, :root .c14-bg a, :root .b1-bg a, :root .b2-bg a, :root .b3-bg a, :root .b4-bg a, :root .b5-bg a, :root .b6-bg a { color: inherit; }
/*.b5-bg a { color: #1C3CA3; }*/
.warning { color: rgb(95, 82, 7); background-color: rgb(251, 245, 208); filter: drop-shadow(0px 0px 1px rgb(95, 82, 7)); }

.padded { padding: 1em; }
.padded-bottom { padding: 1em; margin-bottom: 1em; }
.doublepadded { padding: 2em; }
.tallpadded { padding-top: 2em; padding-bottom: 2em; }
section { padding: 2em 0; }
ul > li + *, ul > li > ul { margin-top: 0.5em; } 

.elsewhere { float: right; margin-top: 0; }
.elsewhere li { display: inline-block; margin-left: 0.5em; }
.elsewhere li a { line-height: 0; display: block; }
footer .address { margin-top: 1em; }
footer a { color: inherit; }