<a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" class="cc-by">
  CC BY 4.0
  <img src="/assets/images/icons/cc.svg" inline><img src="/assets/images/icons/by.svg" inline></a>